#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  // max-width: 450px;
  //  position: relative;
  //width: 100%;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
 // text-align: center;
}

// @media (max-width: 575.98px) {
//   #formContent {

//       margin: 30px;
//      width: 80%;

//   }
// }

form {
  padding: 5rem;
  margin-top: 9rem;

}

form .form-label {
  text-align: left;
}

.alert{
  margin-top: 1rem;
}
