<div class="container">
  <div class="row">
    <div class="col-xl-4 col-sm-2 col-1"></div>
    <div class="col-xl-4 col-sm-8 col-10">
      <div id="formContent">
        <form [formGroup]="signUpForm" (submit)="onSubmitSignupForm()">
          <div class="row">
            <div class="form-group row">
              <div class="col-xl-12 col-12">
                <label for="email" class="form-label">Email</label>
              </div>
              <div class="col-xl-12 col-12">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Veuillez entre un email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group row">
              <div class="col-xl-12 col-12">
                <label for="password" class="col-form-label">Mot de passe</label>
              </div>
              <div class="col-xl-12 col-12">
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Veuillez entrer un mot de passe">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group row">
              <div class="col-xl-12 col-12">
                <label for="passwordConfirmation" class="col-form-label">Retapez votre mot de passe</label>
              </div>
              <div class="col-xl-12 col-12">
                <input type="password" class="form-control" id="passwordConfirmation" formControlName="passwordConfirmation" placeholder="Veuillez confirmer le mot de passe">
              </div>
            </div>
            <div *ngIf="signUpForm.controls['passwordConfirmation'].invalid  && (signUpForm.controls['passwordConfirmation'].dirty || signUpForm.controls['passwordConfirmation'].touched)" class="alert alert-danger" role="alert">               
                <div *ngIf="f.passwordConfirmation.errors.required" class="alert alert-danger" role="alert">
                  Ce champ est obligatoire
               </div>
               <div *ngIf="f.passwordConfirmation.errors.confirmedValidator" class="alert alert-danger" role="alert">
                Le mot de passe n'est pas le même
               </div>
            </div>
          </div>
          <div class="row">
            <div id="formFooter">
              <div class="form-group row">
                <div class="col-xl-12 col-12">
                  <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Créer le compte</button>
                </div>
                <div class="col-xl-12 col-12"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xl-4 col-sm-2 col-1"></div>
  </div>
</div>

