@import 'variables';

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: $background-color-theme4;
  // max-width: 450px;
  //  position: relative;
  //width: 100%;
  -webkit-box-shadow: 0 30px 60px 0 $background-color-element2;
  box-shadow: 0 30px 60px 0 $background-color-element2;
 // text-align: center;
}


form {
  padding: 5rem;
  margin-top: 9rem;

}

form .form-label {
  text-align: left;
}

.alert{
  margin-top: 1rem;
}
