<div class="container">
  <h1>Mon Entreprise</h1>
  <hr />
 <div *ngIf="!enableEditBusiness || addBusiness" id="add-business-bloc">
  <div class="row">
    <div class="col-xl-6 col-6">
      <button type="button" class="btn btn-success" routerLinkActive="active" routerLink="add"> Ajouter</button>
    </div>
  </div>
  <hr>
 </div>
  <div class="row">
    <div class="col-xl-3 col-sm-2 col-1"></div>
    <div class="col-xl-6 col-sm-8 col-10">
      <div class="bunisess-form" *ngFor="let business of businesses; let id = index">
        <div class="row">
          <div class="col-xl-6 col-6">
            <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['edit', id]"> Modifier</button>
          </div>
          <div class="col-xl-6 col-6">
            <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#deleteBusiness"> Supprimer</button>
          </div>
          <div class="modal fade" id="deleteBusiness" tabindex="-1" role="dialog" aria-labelledby="deleteBusinessLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteBusinessLabel">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Voulez-vous vraiment supprimer votre entreprise ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                  <button type="button" class="btn btn-primary" (click)="onDeleteBusiness(id)" data-dismiss="modal">Oui</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xl-6 col-12">
            <h4>{{business.name}}</h4>
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">Secteur/Métier: </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>{{business.sector}} {{business.job}}</p>
              </div>
          </div>
          <div class="col-xl-6 col-12">
            <div *ngIf="business.logo !== null ">
              <img [src]="business.logo" class="img-fluid" />
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="info col-xl-6 col-12">
            <div class="row">
              <div class="col-xl-6 col-12">
                <h5>Coordonnées</h5>
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">Adresse : </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>{{ business.address.nameStreet }} {{ business.address.zipCode }} {{ business.address.city }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">SIRET : </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>{{business.siret}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">Téléphone : </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>{{business.phone1}}</p>
              </div>
            </div>
              <!-- <div class="row">
                <div class="col-xl-6 col-12">
                  <p class="font-weight-bold">Téléphone 2 : </p>
                </div>
                <div class="col-xl-6 col-12">
                  <p>0786205678</p>
                </div>
            </div> -->
            <div class="row">
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">Email : </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>{{business.email}}</p>
              </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-12">
              <p class="font-weight-bold">Site web  : </p>
            </div>
            <div class="col-xl-6 col-12">
              <a [href]="business.website">{{business.website}}</a>
            </div>
        </div>
          </div>
          <div class="horaire col-xl-6 col-12">
            <div class="row">
              <div class="col-xl-12 col-12">
                <h5>Horaires</h5>
                <hr />
                <p>{{ business.openingHours }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-2 col-1"></div>
  </div>
</div>
