<div class="container">
  <h1>Mon Entreprise</h1>
  <hr />
  <div class="row">
    <div class="col-xl-6 col-6">
      <button type="button" class="btn btn-success"> Ajouter</button>
    </div>
    <div class="col-xl-6 col-6">
      <button type="button" class="btn btn-danger"> Supprimer</button>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-xl-3 col-sm-2 col-1"></div>
    <div class="col-xl-6 col-sm-8 col-10">
      <div class="bunisess-form">
        <div class="row">
          <div class="col-xl-6 col-6">
            <h4>SARL GERAULD ERIC</h4>
          </div>
          <div class="col-xl-6 col-6">
            <img src="..." class="img-fluid" alt="Responsive image" />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="info col-xl-6 col-12">
            <div class="row">
              <div class="col-xl-6 col-12">
                <h5>Coordonnées</h5>
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">Adresse : </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>5 rue Fleur de Lys 44400 Reze</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">SIREN : </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>500-855-762</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">Téléphone 1 : </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>0240568457</p>
              </div>
            </div>
              <div class="row">
                <div class="col-xl-6 col-12">
                  <p class="font-weight-bold">Téléphone 2 : </p>
                </div>
                <div class="col-xl-6 col-12">
                  <p>0786205678</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-12">
                <p class="font-weight-bold">Email : </p>
              </div>
              <div class="col-xl-6 col-12">
                <p>contact@geraud-eric.com</p>
              </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-12">
              <p class="font-weight-bold">Site web  : </p>
            </div>
            <div class="col-xl-6 col-12">
              <p>Geraud-eric.fr</p>
            </div>
        </div>
          </div>
          <div class="horaire col-xl-6 col-12">
            <div class="row">
              <div class="col-xl-12 col-12">
                <h5>Horaires</h5>
                <hr />
                <p>Du lundi au vendredi de 08h30 à 18h30</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-2 col-1"></div>
  </div>
</div>
