@import 'variables';

.header {
    //background-color: $background-color-header;
    background-image: url('../../../../assets/img/banner_artisan_1500.png');
    height: 75vh;
    max-height: 75vh;
    padding-top: 5%;
    padding-top: 300px;
    width: 100%;
}


.home-content {
    max-height: 50vh;
    width: 100%;
    height: 300px;
}