<div class="header" *ngIf="enableHeader">
    <h3>Vous recherchez un artisan ?</h3>


    <div *ngIf="enableHeader">
        <app-page-search [enableHeader]="enableHeader"></app-page-search>
    </div>

</div>
<div *ngIf="!enableHeader">
    <app-page-search [enableHeader]="enableHeader"></app-page-search>
</div>
<div class="home-content" *ngIf="enableHeader">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-12">
                <h4 class="font-weight-bold">Vous êtes visiteurs ?</h4>
                <p>
                    Notre annuaire en ligne permet de trouver un professionnel près de chez vous.
                    Accédez à sa fiche afin de pouvoir le contacter via ses coordonnées.
                    N'hesitez pas laisser un petit avis afin de le soutenir.
                </p>
            </div>
            <div class="col-xl-6 col-12">
                <h4 class="font-weight-bold">Vous êtes artisan ?</h4>
                <p>
                    N'hésitez pas à vous inscrire afin de vous référencer.
                    L'inscription est gratuite.
                </p>
            </div>
        </div>
    </div>
</div>
<router-outlet (activate)="hideHeader($event)"></router-outlet>