<div class="container">
    <div class="row">
        <div class="col-xl-3 col-sm-2 col-1"></div>
        <div class="col-xl-6 col-sm-8 col-10">
            <div id="formContent">
                <form [formGroup]="sendEmailResetPwdForm" (submit)="onSubmitSendEmailResetPwdForm()">
                    <div class="row">
                        <h3>Mot de passe oublié ?</h3>
                        <div class="form-group row">
                            <div class="col-xl-12 col-12">
                                <label for="inputEmail3" class="form-label">Email/Nom d'utilisateur</label>
                            </div>
                            <div class="col-xl-12 col-12">
                                <input type="email" class="form-control input-form-custom" id="email"
                                    formControlName="email" placeholder="Email">
                                <div *ngIf="sendEmailResetPwdForm.controls['email'].invalid  && (sendEmailResetPwdForm.controls['email'].dirty || sendEmailResetPwdForm.controls['email'].touched)"
                                    class="alert alert-danger rounded-pill" role="alert">
                                    <div *ngIf="sendEmailResetPwdForm.controls['email'].errors.required">
                                        Veuillez saisir au moins 13 caractères
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="formFooter">
                            <div class="form-group row">
                                <div class="col-xl-12 col-12">
                                    <button type="submit" class="btn btn-primary btn-round"
                                        [disabled]="sendEmailResetPwdForm.invalid">Envoyer</button>
                                </div>
                                <div *ngIf="invalidForm" class="alert alert-danger rounded-pill" role="alert">
                                    Email ou mot de passe invalide !
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-3 col-sm-2 col-1"></div>
    </div>
</div>