<nav class="navbar navbar-expand-lg shadow navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">AstronoApps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Le Systeme solaire
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Le soleil</a>
            <a class="dropdown-item" href="#">Les planetes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Les constellations</a>
          </div>
        </li>

  
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Tableau de board</a>
              <a class="dropdown-item" href="#">Déconnexion</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Se connecter</a>
          </li>
      </ul>
    </div>
  </div>
</nav>