@import 'variables';

#detailcontent {
//background-color: rgb(161, 241, 255);
width: 100%;
padding: 5%;
}

div:focus {
    outline: none;
}

.business-logo{
    margin: 5%;
    width: 40%;
    height: 40%;
}

