/* Variable */

//background
$background-color-theme: rgb(255, 255, 255);
$background-color-theme2: #f96332;
$background-color-theme3: #343a40;
$background-color-theme4: white;
$background-color-element: rgb(219, 219, 219);
$background-color-element2: rgb(158, 158, 158);
$background-color-comment: #f964322d;
$background-color-bouton-header: #2ca8ff;


$star-color: rgb(241, 118, 3);