/* Variable */
//$background-color-search-form: rgba(151, 81, 15, 0.431);
$background-color-search-form: #f96332;
$background-color-header: rgb(76, 153, 253);
$background-color-main: rgb(255, 255, 255);
$background-color-element: rgb(219, 219, 219);

$color-star: rgb(241, 118, 3);