footer {
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: #343a40;
  color: #FFFFFF;
}

.copyright {
background: #ffffff54;
}

nav {
  background: #000000;
  color: #FFFFFF;
}

main {
padding-bottom: 150px;
 }

 body{
  background: #f5f5f598;
 }

