footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000000;
  color: #FFFFFF;
}

.copyright {
background: #ffffff54;
}

nav {
  background: #000000;
  color: #FFFFFF;
}

.body {
margin: 0;
 }

