<div class="container">
  <h1>Mon Entreprise</h1>
  <hr>
  <div class="row"></div>
  <div class="row">

    <div class="col-xl-3 col-sm-2 col-1"></div>
    <div class="col-xl-6 col-sm-8 col-10">
      <div class="bunisess-form">
        <form [formGroup]="businessForm"  (ngSubmit)="onSaveBusiness()">
          <h5>Société : </h5>
          <hr>
            <div class="form-group">
              <label for="businessName">Nom de la société : </label>
              <input type="text" id="businessName" formControlName="businessName" class="form-control">
            </div>
            <div class="form-group">
              <label for="sector">Secteur : </label>
              <select  formControlName="sector" id="sector" class="custom-select">
                <option value="">Veuillez selectionner</option>
                <option *ngFor="let sector of sectors" [ngValue]="sector">{{sector}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="siret">N° SIRET : </label>
              <input type="text" id="siret" formControlName="siret" class="form-control">
            </div>
            <h5>Coordonnées : </h5>
            <hr>
            <div class="form-group">
              <label for="phone">Téléphone : </label>
              <input type="number" id="phone" formControlName="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="adress">Adresse : </label>
              <input type="text" id="adress" formControlName="adress" class="form-control">
            </div>
            <div class="form-group">
              <label for="additionalAdress">Complément d'adresse : </label>
              <input type="text" id="additionalAdress" formControlName="additionalAdress" class="form-control">
            </div>
            <div class="form-group">
              <label for="zipCode">Code Postal : </label>
              <input type="text" id="zipCode" formControlName="zipCode" class="form-control">
            </div>
            <div class="form-group">
              <label for="city">Ville : </label>
              <input type="text" id="city" formControlName="city" class="form-control">
            </div>
            <div class="form-group">
              <label for="pays">Pays : </label>
              <input type="text" id="pays" formControlName="pays" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email : </label>
              <input type="text" id="email" formControlName="email" class="form-control">
            </div>
              <div class="form-group">
                <label for="website">Site web : </label>
                <input type="text" id="website" formControlName="website" class="form-control">
              </div>
              <!-- <h5>Horaire : </h5>
              <hr>
              <div class="form-group">
                <label for="dayA">Du : </label>
                <select  formControlName="dayA" id="dayA" class="custom-select">
                  <option value="">Veuillez selectionner</option>
                  <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                </select>
                <label for="dayB">au : </label>
                <select  formControlName="dayB" id="dayB" class="custom-select">
                  <option value="">Veuillez selectionner</option>
                  <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xl-6 col-6">
                    <label for="hourA">De : </label>
                    <select  formControlName="hourA" id="hourA" class="custom-select">
                      <option value="">Veuillez selectionner</option>
                      <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
                    </select><p> Heure</p>
                  </div>
                  <div class="col-xl-6 col-6">
                    <label for="hourB">à : </label>
                    <select  formControlName="hourB" id="hourB" class="custom-select">
                      <option value="">Veuillez selectionner</option>
                      <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
                    </select><p> Heure</p>
                  </div>
                </div>
              </div> -->

                <button class="form-control" type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
      </div>
    </div>
    <div class="col-xl-3 col-sm-2 col-1"></div>
  </div>
</div>
