
@import 'variables';
.star {
    font-size: 2rem;
     color: rgb(241, 118, 3);
}

.star2 {
    font-size: 1rem;
     color: rgb(241, 118, 3);
}

#comment-spac {
    padding-top: 2%;
    background-color: rgb(181, 234, 250);
    width: 100%;
}
#comments-list {
    padding-top: 2%;
    background-color: rgb(181, 234, 250);
    width: 100%;
}

#comment-row {
    width: 100%;
    background-color: rgb(228, 240, 245);
    padding: 1%;
    margin: 1%;
}

#comment-content {
    width: 100%;
    background-color: white;
    padding: 1%;
}

.comment-name{
    font-weight: bold;
}

.button-form {
    margin-right: 1%;
}

.button-avis {
    margin-bottom: 2%;
}

:host ::ng-deep .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

:host ::ng-deep .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

:host ::ng-deep .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

:host ::ng-deep .page-item.active .page-link {
    z-index: 0;
    color: #fff;
    background-color: #f39b53;
    border-color: #007bff;
}