
@import 'variables';

// #comment-spac {
//     padding-top: 2%;
//     background-color: $background-color-element;
//     width: 100%;
// }
#comments-list, #comment-space{
    padding-top: 2%;
    background-color: $background-color-element;
    width: 100%;
}

#comment-row {
    width: 100%;
    padding: 1%;
    margin: 1%;
}

#comment-content {
    width: 100%;
    background-color: $background-color-main;
    padding: 1%;
}

.comment-name{
    font-weight: bold;
}

// #comment-form {
//     background-color: $background-color-element;
// }


:host ::ng-deep .page-link:hover {
    z-index: 0;
    background-color: $background-color-search-form;
    border-color: $background-color-search-form;
}

:host ::ng-deep .page-item.active .page-link {
    z-index: 0;
    color: black;
    background-color: $background-color-search-form;
    border-color: $background-color-search-form;
}


ngb-pagination {
    display: flex !important;
    justify-content: center !important;
    margin-top: 30px;
}