<div class="row">
    <div id="commentcontent">
        <div class="row">
            <div class="col-xl-3 col-sm-2 col-1"></div>
            <div class="col-xl-6 col-sm-8 col-10">
                <hr>
                <h2>Espace commentaire</h2>
                
                <form [formGroup]="commentForm" class="form-row" (submit)="onSubmitCommentForm()">
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="name" placeholder="Veuillez entrer un nom">                       
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="form-group">
                            <label for="rate">Mettez une note : </label>
                            <ngb-rating [(rate)]="currentRate" max="5" class="star"></ngb-rating>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="form-group">
                            <textarea  rows="5" class="form-control" formControlName="content" placeholder="Veuillez ecrire un commentaire..."></textarea>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="form-group">
                            <button class="form-control" type="submit" class="btn btn-primary" [disabled]="commentForm.invalid">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-3 col-sm-2 col-1"></div>
        </div>
    </div>
</div>

