@import 'variables';

.custom{
    width: 100%;
}

#formContent{
    background-color: $background-color-search-form;
    //max-height: 100vh;
    padding: 5%;
    //padding-top: 300px;
    width: 100%;
}

.custom-label{
    margin-left: 10%;
}

#city-list {
    position: absolute;
    z-index: 4;
    max-height: 30vh;
    overflow: auto;
}

#city-list li:hover {
    background-color:  $background-color-search-form;
}
.btn-form-custom{
    margin: 0;
}

.form-position {
    margin-left: auto;
    margin-right: auto;
}