@import 'variables';

.element {
    // padding: 15px 25px;
    // font-size: 24px;
    // text-align: center;
    //cursor: pointer;
    //outline: none;
    // border: none;
    // border-radius: 15px;
    width: 100%;
  }

  .element h3 {
      margin-bottom: 0px;
  }
.element:active {
    background-color: $background-color-element;
    //box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.element:hover {
    background-color: $background-color-element;
}

.business-logo{
    margin: 5%;
}


:host ::ng-deep .page-link:hover {
    z-index: 0;
    background-color: $background-color-search-form;
    border-color: $background-color-search-form;
}

:host ::ng-deep .page-item.active .page-link {
    z-index: 0;
    color: black;
    background-color: $background-color-search-form;
    border-color: $background-color-search-form;
}


ngb-pagination {
    display: flex !important;
    justify-content: center !important;
    margin-top: 30px;
}

#search-result-not-found h2{
    text-align: center;
    margin-top: 30px;
}


