@import 'variables';

.element {
    // padding: 15px 25px;
    // font-size: 24px;
    // text-align: center;
    //cursor: pointer;
    //outline: none;
    // border: none;
    // border-radius: 15px;
    width: 100%;
  }
.element:active {
    background-color: $background-color-element;
    //box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.element:hover {
    background-color: $background-color-element;
}

.business-logo{
    margin: 5%;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;

}
ul>.pagination {
    margin: 0;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

:host ::ng-deep .page-item.active .page-link {
    z-index: 0;
    color:  #fff;
    background-color: $background-color-search-form;
    border-color: #007bff;
}

// .element-array{
//    max-height: 100%;
// }

