.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.button.btn.btn-pimary.btn-round.form-button-save {
  float: right;
}

.container{
  padding-top: 80px;
}

h1{
  text-align: center;
}
