<div class="container">
  <h1>Mon Entreprise</h1>
  <hr />
  <div class="row"></div>
  <div class="row">
    <div class="col-xl-3 col-sm-2 col-1"></div>
    <div class="col-xl-6 col-sm-8 col-10">
      <div class="bunisess-form">
        <form [formGroup]="businessForm" (ngSubmit)="onSaveBusiness()">
          <h5 class="font-weight-bold">Ma Société :</h5>
          <hr />
          <div class="form-group required">
            <label class="control-label" for="businessName">Nom de la société : </label>
            <input
              type="text"
              id="businessName"
              formControlName="businessName"
              class="form-control input-form-custom"
            />
            <div *ngIf="businessForm.controls['businessName'].invalid  && (businessForm.controls['businessName'].dirty || businessForm.controls['businessName'].touched)" class="alert alert-danger" role="alert">
              <div *ngIf="businessForm.controls['businessName'].errors.required">
                Ce champ est obligatoire
              </div>
              <div *ngIf="businessForm.controls['businessName'].errors.pattern">
                <p>La dénomination sociale peut être constituée :</p>
                <p>- de chiffres,</p>
                <p> - de lettres ou de mots de l'alphabet latin,</p>
                <p>- de chiffres arabes ou romains.</p>
                <p>- le "@" toléré car assimilé à la lettre "a"</p>
                <p>En revanche, le nom de l'entreprise ne doit pas comporter des signes tels que :</p>
                <p>- le diese "#".</p>
                <p>- les symboles monétaires ("$", "£", "€").</p>
                <p>- les barres ("\", "/")</p>
               <p>- les astérisques ("*").</p>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label" for="sector">Secteur : </label>
            <select formControlName="sector" id="sector" class="form-control input-form-custom" (change)="onChangeSector($event)">
              <option *ngFor="let sector of sectors; let i = index" [value]="i">
                {{ sector.sectorName }}
              </option>
            </select>
            <div *ngIf="businessForm.controls['sector'].invalid" class="alert alert-danger" role="alert">
              <div *ngIf="businessForm.controls['sector'].errors.required">
                Ce champ est obligatoire
              </div>
            </div>
          </div>
          <div *ngIf="sectorSelected">
            <div class="form-group">
              <label class="control-label" for="job">Métier (Facultatif):  </label>
              <select formControlName="job" id="job" class="form-control input-form-custom">
                <option *ngFor="let job of jobs; let i = index" [value]="job">
                  {{ job }}
                </option>
              </select>
              <div *ngIf="businessForm.controls['sector'].invalid" class="alert alert-danger" role="alert">
                <div *ngIf="businessForm.controls['sector'].errors.required">
                  Ce champ est obligatoire
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div *ngIf="logoUrl">
              <img [src]="logoUrl" class="img-fluid rounded" />
              <div *ngIf="limiteSizeError" class="alert alert-danger" role="alert">
                Le taille du fichier ne doit pas depasser 2 Mo
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="file"
              class=""
              id="businessLogo"
              name="businessLogo"
              accept="image/png, image/jpeg"
              (change)="onUploadFile($event)"
            />
            <div class="spinner-border text-dark" role="status" *ngIf="logoUploading">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label" for="siret">N° SIRET : </label>
            <input
              type="text"
              id="siret"
              formControlName="siret"
              class="form-control input-form-custom"
            />
            <div *ngIf="businessForm.controls['siret'].invalid  && (businessForm.controls['siret'].dirty || businessForm.controls['siret'].touched)" class="alert alert-danger" role="alert">
              <div *ngIf="businessForm.controls['siret'].errors.required">
                Ce champ est obligatoire
              </div>
              <div *ngIf="businessForm.controls['siret'].errors.pattern">
                Les 14 numéros du SIRET sont requis
              </div>
            </div>
          </div>
          <h5 class="font-weight-bold">Coordonnées :</h5>
          <hr />
          <div class="form-group">
            <label class="control-label" for="phone">Téléphone : </label>
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="form-control input-form-custom"
            />
            <div *ngIf="businessForm.controls['phone'].invalid  && (businessForm.controls['phone'].dirty || businessForm.controls['phone'].touched)" class="alert alert-danger" role="alert">
              <div *ngIf="businessForm.controls['phone'].errors.pattern">
                Les 10 chiffres du numéros de téléphone sont requis
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="address">Adresse : </label>
            <input
              type="text"
              id="address"
              formControlName="address"
              class="form-control input-form-custom"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="additionalAddress">Complément d'adresse : </label>
            <input
              type="text"
              id="additionalAddress"
              formControlName="additionalAddress"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="zipCode">Code Postal : </label>
            <input
              type="text"
              id="zipCode"
              formControlName="zipCode"
              class="form-control"
              (change)="getCityByZipCode($event)"
            />
            <div *ngIf="cityUnknowError" class="alert alert-danger" role="alert">
              Aucune ville trouvée pour ce code postal
            </div>
          </div>
          <div class="form-group">
            <label class="control-label input-form-custom" for="city">Ville : </label>
            <input
              type="text"
              id="city"
              formControlName="city"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="pays">Pays : </label>
            <input
              type="text"
              id="pays"
              formControlName="pays"
              class="form-control input-form-custom"
            />
          </div>
          <div class="form-group required">
            <label class="control-label" for="email">Email : </label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control input-form-custom"
            />
            <div *ngIf="businessForm.controls['email'].invalid  && (businessForm.controls['email'].dirty || businessForm.controls['email'].touched)" class="alert alert-danger" role="alert">
              <div *ngIf="businessForm.controls['email'].errors.required">
                Ce champ est obligatoire
              </div>
              <div *ngIf="businessForm.controls['email'].errors.email">
                Email non valide
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="website">Site web : </label>
            <input
              type="text"
              id="website"
              formControlName="website"
              class="form-control input-form-custom"
            />
          </div>
          <div class="form-group">
            <label class="control-label " for="openingHours">Horaires : </label>
            <input
              type="textarea"
              id="openingHours"
              formControlName="openingHours"
              class="form-control input-form-custom"
              placeholder="Veuillez saisir vos horaires"
            />
          </div>
          <!-- <h5>Horaire : </h5>
              <hr>
              <div class="form-group">
                <label class="control-label" for="dayA">Du : </label>
                <select  formControlName="dayA" id="dayA" class="custom-select">
                  <option value="">Veuillez selectionner</option>
                  <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                </select>
                <label class="control-label" for="dayB">au : </label>
                <select  formControlName="dayB" id="dayB" class="custom-select">
                  <option value="">Veuillez selectionner</option>
                  <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xl-6 col-6">
                    <label class="control-label" for="hourA">De : </label>
                    <select  formControlName="hourA" id="hourA" class="custom-select">
                      <option value="">Veuillez selectionner</option>
                      <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
                    </select><p> Heure</p>
                  </div>
                  <div class="col-xl-6 col-6">
                    <label class="control-label" for="hourB">à : </label>
                    <select  formControlName="hourB" id="hourB" class="custom-select">
                      <option value="">Veuillez selectionner</option>
                      <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
                    </select><p> Heure</p>
                  </div>
                </div>
              </div> -->

          <button class="form-control" type="submit" class="btn btn-primary" [disabled]="businessForm.invalid">
            Enregistrer
          </button>
        </form>
      </div>
    </div>
    <div class="col-xl-3 col-sm-2 col-1"></div>
  </div>
</div>
