/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';
@import 'variables';




html {
  height: 100%;
}

body {

  position: relative;
  min-height: 100%;
  //font-family:cursive !important;
  font-size: 1rem !important;
}

.input-form-custom{
  background-color: white !important;
  padding: 0.6rem 0.75rem !important;
  margin: 0.2rem !important;
  font-size: 1rem !important;
  width: 100% !important;
}

.btn-form-custom{
  padding: 0.6rem 0.75rem !important;
  margin: 0.2rem !important;
  font-size: 1rem !important;
}

.btn-form-custom2{
  padding: 0.6rem 0.75rem !important;
  margin: 0.2rem !important;
  font-size: 1rem !important;
  font-weight: bold;
}

.star {
  font-size: 2rem;
   color: $color-star;
}

.star2 {
  font-size: 1rem;
  color: $color-star;
}





