<div class="container site-footer">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <h5 class="text-footer title-footer">Guyartisan</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">

      <ul class="list-group list-group-horizontal-sm">
        <!-- <li>
          <a href="#!">Contact</a>
        </li> -->
        <li>
          <span class="text-footer">© 2021 Copyright: </span>
          <a href="https://guyartisan.fr/">Guyartisan.fr</a>
        </li>
        <li>
          <a href="#!">Mentions Légale</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <div class="dedicace">
        <span class="text-footer">Image par </span><a
          href="https://pixabay.com/fr/users/pavlofox-514753/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1314070">Pavlofox</a>
        <span class="text-footer"> de </span> <a
          href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1314070">Pixabay</a>
      </div>
    </div>
  </div>
</div>
