 <!-- Grid container -->
 <div class="container site-footer">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
      <h5 class="text-uppercase">Guyartisan</h5>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

      <ul class="list-unstyled mb-0">
        <li>
          <a href="#!">Contact</a>
        </li>
        <li>
          <a href="#!">Mentions Légale</a>s
        </li>
      </ul>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!-- Copyright -->
<div class="copyright text-center p-3">
  © 2021 Copyright:
  <a  href="https://guyartisan.fr/">Guyartisan.fr</a>
</div>

</div>
<!-- Grid container -->

