<div class="container">
    <div class="message">
        <h3>Confirmation d'envoi du lien de réinitialisation de mot de passe</h3>
        <div *ngIf="message && !error" class="alert alert-success rounded-pill" role="alert">
            {{message}}
          </div>
        
          <div *ngIf="message && error" class="alert alert-danger rounded-pill" role="alert">
            {{message}}
          </div>
          <button class="btn btn-primary btn-round" type="button" id="sendBtn" (click)="signin()">Se connecter</button>
    </div>
    
</div>